# Compiled Object files
*~
*.sln
*.vcxproj*
*.vcproj*
*.db
*.exe
*.lib
*.a
*.so
*.dll
.*
.#*
*.ilk
*.obj
*.pdb
*.exp
*.log
*.bin
*.man
*.zip
*.7z
*.mp4
*.ts
*.h264
\#*
output/
build/*
!build/*.bat
!build/*.sh
binary/*/
binary/*
tmp/
!.gitignore
!.travis.yml
!*.sh
*node_modules*