# Compiled Object files
*~
*.sln
*.vcxproj*
*.vcproj*
*.db
*.exe
*.lib
*.a
*.so
*.dll
.git
.ccls-cache
.#*
*.ilk
*.obj
*.pdb
*.exp
*.log
*.bin
*.man
*.zip
*.7z
*.mp4
*.ts
*.h264
*.gch
*.out
\#*
output/
build/*
!build/*.bat
!build/*.sh
binary/*/
binary/*
tmp/
data/
*node_modules*